# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://chibelxlwdxbbdffptlt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNoaWJlbHhsd2R4YmJkZmZwdGx0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkxOTM1NjYsImV4cCI6MjA3NDc2OTU2Nn0.KTKSjuO83tUCtk2calqsljvgsyPbr58isAU3bj0751o